<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DirLog" value=".\LOG\" />
    <add key="ArcExt" value=".RPA" />
    <add key="MFEmulatorPath" value=".\CONFIG\IBS_MAFER_debug.WS" />
    <add key="MFEmulatorProcessName" value="pcsws" />
    <add key="DualValidation" value="true" />
    <add key="MFUser" value="BFPMANEGU" />
    <add key="MFPass" value="" />
    <!-- 1do Password-->
    <add key="Attempts" value="3" />
    <add key="PasswordCreation" value="9999" />
    <!-- 2do Password-->
    <add key="MFTemplateLoad" value=".\CONFIG\Plantilla_Financiamiento_Del_Exterior.xlsx" />
    <add key="Sleep" value="1000" />
    <add key="ShowWindow" value="NO" />
    <add key="SessionId" value="A" />
    <add key="ReadKey" value="NO" />
    <add key="AuthorizationPath" value="SI" />
  </appSettings>

</configuration>