<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DirLog" value ="C:\LOG\"/>
    <add key="ArcExt" value =".RPA"/>
    <add key="MFEmulatorPath" value ="C:\Program Files\IBM\Client Access\Emulator\Private\LAMBDA.WS"/>
    <add key="MFEmulatorProcessName" value ="pcsws"/>
    <add key="DualValidation" value ="p"/>
    <!--Sleep max value(65535)-->
    <add key="Sleep" value ="2000"/>
    <add key="MFUser" value ="BFPROBOP2"/>
    <add key="MFPass" value ="BFPROBOP5"/>
    <add key="Attempts" value ="3"/>
  </appSettings>
</configuration>