<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="OriginSharedDirectory" value ="d:\Users\juarui\Source\Repos\RPA\To.Rpa.AppCTS\CTS\Buzón\"/>
    <add key="OriginDirectory" value ="d:\Users\juarui\Source\Repos\RPA\To.Rpa.AppCTS\CTS\WORKSPACE\ORIGENES\"/>
    <add key="ScrapsDirectory" value ="d:\Users\juarui\Source\Repos\RPA\To.Rpa.AppCTS\CTS\WORKSPACE\RETAZOS\"/>
    <add key="TemplatesDirectory" value ="d:\Users\juarui\Source\Repos\RPA\To.Rpa.AppCTS\CTS\WORKSPACE\PLANTILLAS\"/>
    <add key="TesseractLanguage" value ="eng"/>
    <add key="DirLog" value ="C:\LOG\"/>
    <add key="ArcExt" value =".RPA"/>
    <!--Sleep max value(65535)-->
    <add key="Attempts" value ="3"/>
  </appSettings>
</configuration>