<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="OriginSharedDirectory" value ="d:\Users\juarui\Source\Repos\RPA\To.Rpa.AppCTS\CTS\Buzón\"/>
    <add key="OriginDirectory" value ="d:\Users\juarui\Source\Repos\RPA\To.Rpa.AppCTS\CTS\WORKSPACE\ORIGENES\"/>
    <add key="ScrapsDirectory" value ="d:\Users\juarui\Source\Repos\RPA\To.Rpa.AppCTS\CTS\WORKSPACE\RETAZOS\"/>
    <add key="TemplatesDirectory" value ="d:\Users\juarui\Source\Repos\RPA\To.Rpa.AppCTS\CTS\WORKSPACE\PLANTILLAS\"/>
    <add key="PdfsErrorDirectory" value ="d:\Users\juarui\Source\Repos\RPA\To.Rpa.AppCTS\CTS\WORKSPACE\ERROR\PDFS\"/>

    <add key="JarDirectory" value ="d:\To.Rpa.AppCTS\CTS\lib\image.jar"/>
    <add key="DllDirectory" value ="d:\To.Rpa.AppCTS\CTS\lib\gsdll64.dll"/>
    
    <add key="YScaling" value ="100"/>
    <add key="XScaling" value ="800"/>
    <add key="ScalingInitialPoint" value ="340"/>

    <add key="VerticalWidth" value ="3307"/> <!--6615-->
    <add key="VerticalHeight" value ="4677"/> <!--9355-->

    <add key="HorizontalWidth" value ="4677"/>
    <add key="HorizontalHeight" value ="3307"/>

    <add key="TesseractLanguage" value ="eng"/>
    <add key="DirLog" value ="C:\LOG\"/>
    <add key="ArcExt" value =".RPA"/>
    <!--Sleep max value(65535)-->
    <add key="Attempts" value ="3"/>
  </appSettings>
</configuration>